* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;

    --color-alfa: rgba(9, 66, 82, 0.5);
    --color-beta: rgba(255, 255, 255, 1);
    --color-gamma: rgba(14, 122, 151, 0.7);
    --color-userPanel: linear-gradient(to right bottom, #163b80, #004888, #00558e, #006192, #006c95, #006c95, #006c95, #006c95, #006192, #00558e, #004888, #163b80);
}

.wrap {
    max-width: 1920px;
}