* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;

    --color-alfa: rgba(9, 66, 82, 0.5);
    --color-beta: rgba(255, 255, 255, 1);
    --color-gamma: rgba(14, 122, 151, 0.7);
    --color-userPanel: linear-gradient(to right bottom, #163b80, #004888, #00558e, #006192, #006c95, #006c95, #006c95, #006c95, #006192, #00558e, #004888, #163b80);
}

.wrap {
    max-width: 1920px;
}



/* LOGIN PANEL SECTION */


.login__panel {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color-alfa);
}

.login__panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../img/loginPanel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.panel__header {
    text-align: center;
    color: var(--color-beta);
}

.header__title {
    font-size: 4rem;
    padding-top: 10rem;
}

.header__description {
    font-size: 2rem;
    padding-top: 2rem;
}

.panel__form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 5rem;
}

.form__field {
    width: 100%;
    color: var(--color-beta);
}

.form__field--login,
.form__field--password {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
}

.form__field--input {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.form__field--submit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: var(--color-alfa);
    color: var(--color-beta);
    overflow: hidden;
    cursor: pointer;
}

.form__field--submit::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-60%, -100%) rotate(-45deg);
    background-color: var(--color-gamma);
    transition: 0.5s linear;
}

.form__field--submit:hover::after {
    transform: translate(60%, 100%) rotate(-45deg);
}



/* USER PANEL SECTION */

.user__panel {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--color-alfa);
}

.user__panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../img/userPanel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.user__panel--header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--color-alfa);
}

.user__panel--title {
    font-size: 2rem;
    padding: 2rem 2rem;
    color: var(--color-beta);
}

.user__panel---signOut {
    position: relative;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    height: 50%;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--color-beta);
    overflow: hidden;
    cursor: pointer;
}

.user__panel---signOut::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-60%, -100%) rotate(-45deg);
    background-color: var(--color-gamma);
    transition: 0.5s linear;
}

.user__panel---signOut:hover::after {
    transform: translate(60%, 100%) rotate(-45deg);
}

.user__panel--main {
    display: flex;
    padding: 5rem 0;
}

.user__panel--main>* {
    flex-basis: 0;
}

.user__profile--information {
    flex-grow: 1;
}

.user__panel--photo {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin: 0 auto;
}

.user__photo {
    object-fit: contain;
    border-radius: 2rem;
    box-shadow: 0px 0px 16px 4px rgba(9, 66, 82, 1);
}

.user__panel--gitHubProfile {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: var(--color-alfa);
    overflow: hidden;
    cursor: pointer;
}

.user__panel--gitHubProfile::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-60%, -100%) rotate(-45deg);
    background-color: var(--color-gamma);
    transition: 0.5s linear;
}

.user__panel--gitHubProfile:hover::after {
    transform: translate(60%, 100%) rotate(-45deg);
}

.gitHubProfile {
    text-decoration: none;
    color: var(--color-beta);
}

.user__profile--main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.user__profile--userName {
    align-self: flex-end;
    margin: -2rem 4rem 0 4rem;
    font-size: 2.5rem;
    color: var(--color-beta);
}

.user__profile--description {
    align-self: flex-end;
    margin: 3rem 4rem 0 0;
    font-size: 2rem;
    color: var(--color-beta);
    text-align: center;
}

.user__profile--actions {
    display: flex;
    margin-top: 5rem;
}


.actions__nav,
.actions__description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.actions__yourRepo,
.actions__otherUserRepo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: var(--color-alfa);
    overflow: hidden;
    cursor: pointer;
}

.actions__yourRepo::after,
.actions__otherUserRepo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-60%, -100%) rotate(-45deg);
    background-color: var(--color-gamma);
    transition: 0.5s linear;
}

.actions__yourRepo:hover::after,
.actions__otherUserRepo:hover::after {
    transform: translate(60%, 100%) rotate(-45deg);
}

.description__yourRepo,
.description__otherUserRepo {
    margin-right: 4rem;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: var(--color-beta);
    text-align: center;
}

.description__yourRepo {
    padding-top: 1rem;
}





/* SEKCJA RESPOZYTORIA */

.respositories {
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 5rem;
    background-image: var(--color-userPanel);
    color: var(--color-beta);
}

.respositories__header {
    display: flex;
    justify-content: center;
}

.respositories__tittle {
    font-size: 3rem;
    text-align: center;
}

.respositories__back {
    position: fixed;
    top: 5rem;
    right: 5rem;
    font-size: 3rem;
    border: none;
    background: transparent;
    color: var(--color-beta);
    cursor: pointer;
}

.main__content {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.content__list {
    list-style: none;
    padding-top: 5rem;
}

.list__item {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: 1px solid var(--color-alfa);
    border-right: none;
    text-align: center;
}

.content__list:last-of-type .list__item {
    border-right: 1px solid var(--color-alfa);
}

.item__link {
    text-decoration: none;
    color: var(--color-beta);
}


.respositories__form {
    display: none;
    width: 30%;
    margin: 0 auto;
    padding: 5rem;
}


.form__field--search {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: var(--color-alfa);
    color: var(--color-beta);
    overflow: hidden;
    cursor: pointer;
}

.form__field--search::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-60%, -100%) rotate(-45deg);
    background-color: var(--color-gamma);
    transition: 0.5s linear;
}

.form__field--search:hover::after {
    transform: translate(60%, 100%) rotate(-45deg);
}

